body{
    padding: 0px;
    margin: 0px;
    background-image: url('../img/padronizacao.jpg')
}

.header{
    background-color: white;
    width: 800px;
    margin: 0 auto;
    height:150px;
    box-shadow: #000 10px 10px 10px;
    border-radius: 10px;
}

.header img{
    width: 12%;
    float: left;
    padding:10px 10px  ;
}

.header h1{
  padding: 50px;
  margin-left: 20%;
}

.corpo{
    
    background-color: white;
    width: 800px;
    margin: 0 auto;
    height:500px;
    box-shadow: #000 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding-top:20px ;
}

.corpo p{
  
  
}

.dadosPessoais{
   width: 600px;
   height: 120px;
   margin: 0 auto;
   padding-left: 10px;
   
   
}

.camisetas{
   width: 600px;
   height: 120px;
   margin: 0 auto;
   padding-left: 10px;
}

#menos , #mais, #maism, #menosm{
    border: none;
}

.comentario{
    width: 600px;
    height: 120px;
    margin: 0 auto;
    margin-top:20px ;
    padding-left: 10px;
}

.footer{
    background-color: white;
    width: 800px;
    margin: 0 auto;
    box-shadow: #000 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding:3px ;
    margin-bottom: 10px;
}
.footer p{
    margin-left: 20px;
  
}

.footerFixed{
   
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    border: 2px solid black;
    margin: 0 auto;
    width: 100%;
    background-color: green;
    text-align: center;
    color: white  
}
