body{
    padding: 0px;
    margin: 0px;
    background: url('../img/padronizacao.jpg')
}

.header{
    background-color: white;
    width: 800px;
    margin: 0 auto;
    height:150px;
    box-shadow: #000 10px 10px 10px;
    border-radius: 10px;
}

.header img{
    width: 12%;
    float: left;
    padding:10px 10px  ;
}

.header h1{
  padding: 50px;
  margin-left: 20%;
}

.corpo{
    
    background-color: white;
    width: 800px;
    margin: 0 auto;
    height:380px;
    box-shadow: #000 10px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding-top:20px ;
}

.corpo p{
  
  
}

.dadosPessoais{
   width: 600px;
   border: 1px solid black;
   height: 120px;
   margin: 0 auto;
   padding-left: 10px;
   
   
}

.camisetas{
    width: 600px;
   border: 1px solid black;
   height: 120px;
   margin: 0 auto;
   padding-left: 10px;
   margin-top: 20px;
   padding-top:10px ;
}

#menos , #mais, #maism, #menosm{
    border: none;
}


