h1{
    text-align: center;
    margin-bottom: 50px;
}

td{
    /* border: 2px solid black; */
    width: 150px;
    height: 150px;
}

table{
    margin: auto;
    border-collapse: collapse; /* esta propriedade tira a duplicidade da borda no caso deixa uma unica linha */
}
.vertical{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.horizontal{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td:hover{
    border: 1px solid grey;
}